@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,500&display=swap');

#navIcon svg{
  color: white;
  background-color: white;
}
#bgColor{
  background: #031A30;
  padding: 1.25rem 0;
  -webkit-box-shadow: 0 2px 5px 3px rgba(15, 15, 15, 0.451);
  -moz-box-shadow: 0 2px 5px 3px rgba(15, 15, 15, 0.451);
  box-shadow: 0 2px 5px 3px rgba(15, 15, 15, 0.451);
  position: fixed;
  width: 100vw;
}
#logoo{
  color: #DAE4FB;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
#logoo span{
  color:#00EAFF;
}
#navv {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
#navv :hover{
  color: white;
}

#navv a{
  display: block;
  text-decoration: none;
  color: #DAE4FB;
  margin: 0 1.3rem;
}
#navv > a{
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
#navv > a> span{
  visibility: hidden;
  width: 0;
  background: #00EAFF;
  border: #00EAFF solid 1.25px;
  transition: width 0.5s;
  border-radius: 20px;
}
#navv > a:hover span{
  visibility:visible;
  width: 80%;
}
#navv >span {
  width: fit-content;
  border: 2px solid #00EAFF;
  padding:0.5rem 1.5rem;
  margin: 0 1rem;
  color:rgb(180, 180, 180);
  transition-timing-function: ease-in;
  transition: 0.5s;
}
#navv >span a{
  transition-timing-function: ease-in;
  transition: 0.5s;
}
#navv >span:hover ,#navv >span:hover a{
  background: #00EAFF;
  color: #031A30;
  font-weight: 900;
  transition-timing-function: ease-in;
  transition: 0.5s;
}